#ImgFooter{
    height: 200px;
    width: 200px;
}

#footerd{
    padding: 50px;
    background-color: #BCB8B1;
}

#Footer{
    padding: 20px;
    padding-left: 200px;
    background-color: #201E2E;
}

#Frase{
    color: #FFFFFF;
}

#Librito{
    height: 64px;
    width: 88px;
}